# Ignore main.exe files on Windows
main.exe

# Ignore main binary files on GitHub Codespaces
main

# Ignore tasks.json
# To prevent conflict between VSCode Windows & VSCode GitHub Codespace
# Required tasks.json will be made by VSCode wherever it is run.
tasks.json